@import "../global";

// ? Jumbotron
.jumbotron {
  background-color: $bg;
  font-family: "Poppins", sans-serif;
  .lead {
    padding: 0 200px;
  }
  .display-4 {
    span {
      color: $main;
    }
    font-weight: 600;
    margin-bottom: 30px;
  }
  .erere {
    margin-top: 30px;
    a {
      &:hover {
        color: #e94560;
        text-decoration: none;
      }
      color: #ffffff;
      margin-right: 30px;
    }
  }
}

// ? Skills
.skill {
  .card {
    padding: 35px 0;
    border-radius: 10px;
    background-color: $bg2;
  }
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
  .row:nth-child(2) {
    margin-top: 30px;
  }
  margin-top: 100px;
}

// ? About me
.links {
  .abt-me {
    padding: 0 200px;
  }
  .awal {
    margin-top: 50px;
  }
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
  margin-top: 100px;
}

// ? Recent Work
.terakhir {
  a {
    width: 204.9px;
  }
  .deskripsi-kerja {
    padding: 0 300px;
  }
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
  margin-top: 100px;
}

// ? Blog
.blog {
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
  .link-blog {
    border-radius: 10px;
  }
  margin-top: 100px;
}

// ! Page Tutorial GIT
.intro-git {
  .uncommited-git {
    width: 30%;
  }
  ul {
    padding-right: 400px;
  }
  code {
    padding: 3px;
    background-color: $bg2;
  }
  .breadcrumb-git {
    a {
      &:hover {
        color: #e94560;
        text-decoration: none;
      }
      color: #acacac;
    }
    .brd-sekarang {
      color: #e94560;
    }
    color: #acacac;
  }
  .tanda-sudah-git {
    width: 50%;
  }
  .intro-git-awal {
    padding-right: 400px;
  }
  .link-git-wpu {
    color: #e94560;
  }
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
}

// ! Page Tutorial SCSS
.teks-coming {
  h3 {
    span {
      font-weight: 800;
      color: #e94560;
      font-size: 24px;
    }
  }
}

// ? Tombol Back To Top
#backToTop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-out;
  bottom: 20px;
  right: 20px;
}

// ! Media Query Mobile Device
@media only screen and (max-width: 768px) {
  .jumbotron {
    .display-4 {
      font-size: 24px;
    }
    .lead {
      padding: 0 20px;
      font-size: 12px;
    }
  }

  .skill {
    .card {
      .row:nth-child(2) {
        img {
          margin-top: 50px;
        }
      }
    }
  }

  .links {
    .abt-me {
      padding: 0 20px;
    }
  }

  .terakhir {
    .deskripsi-kerja {
      padding: 0 20px;
    }
  }

  .intro-git {
    .uncommited-git {
      width: 80%;
    }
    ul {
      padding-right: 40px;
    }
    .tanda-sudah-git {
      width: 90%;
    }
    .intro-git-awal {
      padding-right: 40px;
    }
  }
}
